<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout}">
<div layout:fragment="content" class="main">
    <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">번호</th>
                <th scope="col">SUBJECT</th>
                <th scope="col">WRITER</th>
                <th scope="col">DATE</th>
            </tr>
            </thead>
            <tbody>
                <th:block th:each="item, status:${boardList}">
                    <tr>
                        <th scope="row" th:text="${pagination.totalElements - pagination.number*pagination.size - status.index}">1</th>
                        <td ><a href="" th:href="@{/board/view/{idx}(idx=${item.id})}"  th:text="${item.subject}">제목이 들어가겠죠....</a></td>
                        <td th:text="${item.writer.nickName}">제목이 들어가겠죠....</a></td>
<!--                        <td th:text="${#temporals.format(item.createDate,'yyyy-MM-dd HH:mm:ss')}"></td>-->
                        <td th:text="${#temporals.format(item.createDate,'yyyy/MM/dd HH:mm')}"></td>
                    </tr>
                </th:block>
            </tbody>
        </table>

        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center mt-5">
                <li class="page-item"  th:classappend="${!pagination.hasPrevious?'disabled':''}">
                    <a class="page-link" th:href="@{/board/list02(page=${pagination.number - 1})}">Previous</a>
                </li>
                <!-- 13 -->
                <!--1,2,3,4,5 /> 6,7,8,9,10 / 11,12,131,14,15-->
                <th:block th:each="item:${#numbers.sequence(0,pagination.totalPages - 1)}">
                    <li class="page-item"
                        th:classappend="${item==pagination.number?'active':''}"

                        th:if="${item >= start and
                                 item < end }">
                            <a class="page-link" href="#" th:href="@{/board/list02(page=${item})}" th:text="${item + 1}">1</a>
                    </li>
                </th:block>
<!--                <li class="page-item"><a class="page-link" href="#">2</a></li>-->
<!--                <li class="page-item"><a class="page-link" href="#">3</a></li>-->
                <li class="page-item" th:classappend="${!pagination.hasNext()?'disabled':''}">
                    <a class="page-link" href="#" th:href="@{/board/list02(page=${pagination.number+1})}">Next</a>
                </li>
            </ul>
        </nav>
        <div class="d-flex justify-content-center mt-5">
            <a href="/board/insert" class="btn btn-primary">글쓰기</a>
        </div>
    </div>
</div>
</html>