<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout}">
<div layout:fragment="content" class="main">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <h2>view</h2>
                <h4 th:text="${board.subject}"></h4>
                <hr>
<!--                <div th:text="${board.content}" class="mt-5 mb-5"></div>-->
<!--                <div th:utext="${@commonUtil.markdown(board.content)}" class="mt-5 mb-5"></div>-->


                <div class="card-body">
                    <div class="card-text" th:utext="${@commonUtil.markdown(board.content)}"></div>
                    <div class="d-flex justify-content-end">
                        <div class="badge bg-light text-dark p-2 text-start">
                            <div class="mb-2">
                                <th:block th:if="${board.writer != null}">
                                    <span th:text="${board.writer.nickName}"></span>
                                </th:block>
                            </div>
                            <div th:text="${#temporals.format(board.createDate, 'yyyy-MM-dd HH:mm')}"></div>
                        </div>
                    </div>
                </div>




                <div class="mt-5 mb-5">
                    <ul id="commentList">
                        <th:block th:each="comment:${board.commentList}">
                            <li class="comment">
                                <div>
                                    <span th:text="${comment.content}">여기에 코멘트 달립니다.</span>
                                    <span class="badge bg-primary btn-del"  th:data-idx="${comment.id}">DELETE</span>
                                </div>
                                <span class="date" th:text="${#temporals.format(comment.createDate,'yyyy-mm-dd HH:mm')}"></span>
                            </li>
                        </th:block>
                    </ul>
                </div>

                <form action="" th:action="@{/comment/insert/{id}(id=${board.id})}" method="post">
                    <div class="mb-3">
                        <label for="content" class="form-label">comment</label>
                        <textarea type="text" class="form-control" id="content"
                                  placeholder="content" name="content" rows="4"></textarea>

                    </div>
                    <div class="d-flex justify-content-center mt-5">
                        <button class="btn btn-primary" id="btnJoinConfirm">COMMENT CONFIRM</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script th:inline="javascript">
        /*
        $("body").on("click",".btn-del",function(){
            const commentId = $(this).data("idx");
            const commentItem = $(this).parent().parent();
            console.log("btn-del");
            $.ajax({
                url:`/comment/delete/${commentId}`,
                method:"delete",
                success:function(result) {
                    console.log(result);

                    //commentItem.remove();
                    commentItem.fadeOut();
                }
            })

        })


        const boardId = [[${board.id}]];
        const sendCommentUrl = "/comment/ajaxinsert/"+boardId;
        $("#btnJoinConfirm").on("click",function(e){

            e.preventDefault();
            $.ajax({
                url:sendCommentUrl,
                data:{
                    content:$("#content").val()
                },
                method:"post",
                success:function(result) {
                    console.log(result);
                    if(result.isInsert==="ok") {
                        $("#commentList").append(
                        `<li class="comment">
                            <div>
                                <span>${result.responseComment.content}</span>
                                <span class="badge bg-primary btn-del"  data-idx="${result.responseComment.id}">DELETE</span>
                            </div>
                            <span class="date">${result.responseComment.strCreateDate}</span>
                        </li>`
                        );
                    }
                }
            })
            return false;
        })
        */
    </script>
</div>
</html>