<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout}">
<div layout:fragment="content" class="main">
    <div class="container">
        <ul>
            <th:block th:each="item:${memberList}">
                <li>
                    <a href="" th:href="@{/member/mypage(id=${item.userId})}"  th:text="${item.userId}">제목이 들어가겠죠....</a>

                </li>
            </th:block>
        </ul>
    </div>
</div>
</html>