<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout}">
<div layout:fragment="content">
    <main class="popular">
        <div class="exploreContainer">

            <!--인기게시글 갤러리(GRID배치)-->
            <div class="popular-gallery">

                <th:each "image : ${images}">
                    <div class="p-img-box">
                        <a href="/user/${image.user.id}"> <img src="/upload/${image.postImageUrl}" />
                        </a>
                    </div>
                </th:each>

            </div>

        </div>
    </main>

</div>
</html>