<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout}">
<div layout:fragment="content">
    <main class="popular">
        <div class="exploreContainer">

            <!--인기게시글 갤러리(GRID배치)-->
            <div class="popular-gallery">

                <div class="p-img-box">
                    <a href="/user/profile"> <img src="/images/home.jpg" />
                    </a>
                </div>
                <div class="p-img-box">
                    <a href="/user/profile"> <img src="/images/home.jpg" />
                    </a>
                </div>
                <div class="p-img-box">
                    <a href="/user/profile"> <img src="/images/home.jpg" />
                    </a>
                </div>
                <div class="p-img-box">
                    <a href="/user/profile"> <img src="/images/home.jpg" />
                    </a>
                </div>
                <div class="p-img-box">
                    <a href="/user/profile"> <img src="/images/home.jpg" />
                    </a>
                </div>
                <div class="p-img-box">
                    <a href="/user/profile"> <img src="/images/home.jpg" />
                    </a>
                </div>
                <div class="p-img-box">
                    <a href="/user/profile"> <img src="/images/home.jpg" />
                    </a>
                </div>
            </div>

        </div>
    </main>

</div>
</html>