<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout}">
<div layout:fragment="content" class="main">
    <div class="container">
        <table class="table">
            <colgroup>
                <col style="width:20px">
                <col >
                <col style="width:100px">
                <col style="width:150px">
            </colgroup>
            <thead>
            <tr>
                <th scope="col">NO</th>
                <th scope="col" class="d-flex justify-content-center">SUBJECT</th>
                <th scope="col">WRITER</th>
                <th scope="col">DATE</th>
            </tr>
            </thead>
            <tbody>
                <th:block th:each="item,status:${boardList}">

                    <tr>
                        <th scope="row" th:text="${pagination.totalElements - pagination.number*pagination.size - status.index}">1</th>
                        <td>
                            <a href="" th:href="@{/board/view/{idx}(idx=${item.id})}"  th:text="${item.subject}">제목이 들어가겠죠....</a>
                            <span class="small text-danger"
                                  th:text="${item.commentList.size()}"
                                  th:if="${item.commentList.size() > 0}">
                            </span>
                        </td>
                        <td>
                            <th:block th:if="${item.writer}">
                                <span th:text="${item.writer.nickName}">제목이 들어가겠죠....</span>
                            </th:block>
                            <th:block th:unless="${item.writer}">
                                <span>이름없음</span>
                            </th:block>

                        </td>
                        <td th:text="${#temporals.format(item.createDate,'yyyy/MM/dd HH:mm')}"></td>
                    </tr>
                </th:block>
            </tbody>
        </table>

        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center mt-5">
                <li class="page-item"  th:classappend="${!pagination.hasPrevious?'disabled':''}">
                    <a class="page-link" th:href="@{/board/list02(page=${pagination.number - 1})}">Previous</a>
                </li>
                <!-- 13 -->
                <!--1,2,3,4,5 /> 6,7,8,9,10 / 11,12,131,14,15-->
                <th:block th:each="item:${#numbers.sequence(0,pagination.totalPages - 1)}">
                    <li class="page-item"
                        th:classappend="${item==pagination.number?'active':''}"

                        th:if="${item >= start and
                                 item < end }">
                            <a class="page-link" href="#" th:href="@{/board/list02(page=${item})}" th:text="${item + 1}">1</a>
                    </li>
                </th:block>
<!--                <li class="page-item"><a class="page-link" href="#">2</a></li>-->
<!--                <li class="page-item"><a class="page-link" href="#">3</a></li>-->
                <li class="page-item" th:classappend="${!pagination.hasNext()?'disabled':''}">
                    <a class="page-link" href="#" th:href="@{/board/list02(page=${pagination.number+1})}">Next</a>
                </li>
            </ul>
        </nav>


        <div class="container mt-5">
            <form action="" th:action="@{/board/search}" method="get">
                <div class="row">
                    <div class="col-4" th:with="category=${param.category}">
                        <select class="form-select" aria-label="Default select example" name="category">
                            <option value="all"     th:selected="${#strings.equals(category,'all')    ? true : false}">전체검색</option>
                            <option value="subject"   th:selected="${#strings.equals(category,'subject')  ? true : false}">제목</option>
                            <option value="content" th:selected="${#strings.equals(category,'content')? true : false}">내용</option>
                            <option value="writer"    th:selected="${#strings.equals(category,'writer')   ? true : false}">글쓴이</option>
                        </select>
                    </div>
                    <div class="col-6">
                        <input  type="text" class="form-control" name="keyword" placeholder="검색어를 입력해주세요."
                                th:value="${param.keyword}">
                    </div>
                    <div class="col-2"><button class="btn btn-primary">검색</button></div>
                </div>
            </form>
        </div>

        <div class="mt-5 d-flex justify-content-center">
            <a href="/board/insert" class="btn btn-primary">글쓰기</a>
        </div>
    </div>
</div>
</html>