<html lang='en'>
<head>
    <meta charset='utf-8' />
    <style>
        #calendar {
            width:800px;
            height: 400px;
            margin: 100px auto;
        }

    </style>
    <script src="/js/jquery-3.7.1.min.js"></script>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js'></script>
    <script>

        /*document.addEventListener('DOMContentLoaded', function() {
            const calendarEl = document.getElementById('calendar');

            console.log(calendar.events);
            $.ajax({
                url:"/calendar/list",
                method:"get",
                success:function(result) {
                    console.log(result);
                    const calendar = new FullCalendar.Calendar(calendarEl, {
                        locale: "ko",
                        initialView: 'dayGridMonth',
                        selectable: true,
                        eventLimit: true, // for all non-TimeGrid views
                        dayMaxEventRows:4,
                        height:500,
                        selectOverlap: function(event) {
                            return event.rendering === 'background';
                        },
                        events :result.calendarDtoList,
                        eventClick: function(info) {
                            /!*alert('Event: ' + info.event.title);
                            alert('Coordinates: ' + info.jsEvent.pageX + ',' + info.jsEvent.pageY);
                            alert('View: ' + info.view.type);*!/

                            // change the border color just for fun
                            info.el.style.borderColor = 'red';
                            info.jsEvent.preventDefault();
                            if (info.event.url) {
                                window.open(info.event.url);
                            }
                        }
                    });
                    calendar.render();
                }
            })
        });
*/
        document.addEventListener('DOMContentLoaded', function() {
            const calendarEl = document.getElementById('calendar');
            const calendar = new FullCalendar.Calendar(calendarEl, {
                locale: "ko",
                initialView: 'dayGridMonth',
                selectable: true,
                eventLimit: true, // for all non-TimeGrid views
                dayMaxEventRows:4,
                height:500,
                selectOverlap: function(event) {
                    return event.rendering === 'background';
                },
                events :"/calendar/list02",
                eventClick: function(info) {
                    /*alert('Event: ' + info.event.title);
                    alert('Coordinates: ' + info.jsEvent.pageX + ',' + info.jsEvent.pageY);
                    alert('View: ' + info.view.type);*/

                    // change the border color just for fun
                    info.el.style.borderColor = 'red';
                    info.jsEvent.preventDefault();
                    if (info.event.url) {
                        window.open(info.event.url);
                    }
                }
            });
            calendar.render();

        });



    </script>
</head>
<body>
<div id='calendar'></div>
</body>
</html>