<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout}">
<div layout:fragment="content" class="main">
    <div class="container">
        <h2>FIND PASSWORD</h2>
        <form method="post" action="/mail/find_password">
            <div class="mb-3">
                <label for="email" class="form-label">EMAIL</label>
                <input type="text" class="form-control" placeholder="이메일" id="email" name="email">
            </div>
            <!--  문제가 발견됨...-->
            <div class="mt-5">
                <button class="btn btn-primary" id="btnSubmit">submit</button>
            </div>
        </form>
    </div>
</div>
</html>