<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Title</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
            href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
            rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
    <script src="/js/jquery-3.7.1.min.js"></script>
</head>
<body>

    <div class="todo">
        <div>
            <div class="day" id="pickedDay">MON</div>
            <div class="date" id="pickedDate">27</div>
            <div class="inputBox">
                <input type="text" name="todo" id="todoTxt">
                <button class="btnAdd">add</button>
            </div>
            <div class="todoListBox">
                <ul class="todoList">
                    <!--<li data-no="1" class="yet"><span>밥먹기</span><button class="btnDelete">DEL</button></li>
                    <li data-no="1" class="yet"><span>밥먹기</span><button class="btnDelete">DEL</button></li>
                    <li data-no="1" class="yet"><span>밥먹기</span><button class="btnDelete">DEL</button></li>
                    <li data-no="1" class="yet"><span>밥먹기</span><button class="btnDelete">DEL</button></li>-->
                </ul>
            </div>
        </div>
    </div>
    <div class="calendar-box">
        <div class="calendar">
            <div class="header">
                <button class="prev">prev</button>
                <div class="monthBox">
                    <span class="year">2023</span> -
                    <span class="month">12</span>
                </div>
                <button class="next">next</button>
            </div>
            <div class="days">
                <ul>
                    <li class="sun"><span>sun</span></li>
                    <li><span>mon</span></li>
                    <li><span>tue</span></li>
                    <li><span>wed</span></li>
                    <li><span>thu</span></li>
                    <li><span>fri</span></li>
                    <li class="sat"><span>sat</span></li>
                </ul>
                <div class="dates">
                    <ul>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script>
        const leafYear =    [31,29,31,30,31,30,31,31,30,31,30,31];
        const notLeafYear = [31,28,31,30,31,30,31,31,30,31,30,31];





        const now = new Date();  //2024/11/27

        let queryDate = `${now.getFullYear()}-${now.getMonth()+1}-${now.getDate()}`;



        function makeCalendar02(pickedYear,pickedMonth) {
            let output="";
            const firstDate = new Date(now.getFullYear(),now.getMonth(),1);
            const lastDate = new Date(now.getFullYear(),now.getMonth()+1,0);
            console.log(firstDate+"==="+lastDate);
            for (let j = 0; j < firstDate.getDay(); j++) {
                output+=  `<li class="blank"><span></span></li>`
            }
            for(let i=firstDate;i<=lastDate; i.setDate(i.getDate()+1)) {
                if(now.getDate()===i.getDate() &&now.getFullYear() === i.getFullYear() &&now.getMonth() === i.getMonth()) {
                    output += `<li
                                 class="today"
                                 data-date="${i.getDate()}"
                                 data-year="${i.getFullYear()}"
                                 data-month="${i.getMonth()+1}"
                                 data-picked =
                                 "${i.getFullYear()}-${i.getMonth()+1}-${i.getDate()}"><span>${i.getDate()}</span></li>`;
                } else {
                    output += `<li
                                 data-date="${i.getDate()}"
                                 data-year="${i.getFullYear()}"
                                 data-month="${i.getMonth()+1}"
                                 data-picked =
                                 "${i.getFullYear()}-${i.getMonth()+1}-${i.getDate()}"><span>${i.getDate()}</span></li>`;
                }

            }
            $(".dates ul").html(output);

            gsap.from(".calendar-box .dates ul li",{scale:0, ease:"back",duration:1, stagger:0.02});
        }

        function makeCalendar(pickedYear,pickedMonth) {


                    console.log(result);
                    let output="";
                    let count = 1;
                    const firstDay  = new Date(pickedYear, pickedMonth,1);  //2024/11/1
                    console.log(firstDay.getDay());  // 요일 얻어오기...
                    $(".monthBox .year").text(firstDay.getFullYear());
                    $(".monthBox .month").text(firstDay.getMonth()+1);

                    let selectedYear;
                    // 윤년 공식
                    if(firstDay.getFullYear()%4===0) {
                        if(firstDay.getFullYear() % 100===0) {
                            selectedYear = notLeafYear;
                        }
                        selectedYear = leafYear;

                    } else {
                        selectedYear = notLeafYear;
                    }
                    if(firstDay.getFullYear()%400===0) {
                        selectedYear = leafYear;
                    }

                    for(let i=0;i<42;i++) {
                        if(count>selectedYear[firstDay.getMonth()]) {
                            break;
                        }
                        if(i < firstDay.getDay()) {
                            // 달을 만드는 첫날의 요일까지는 비워둔다.
                            output+=`<li class="blank"><span></span></li>`
                        } else {
                            if(now.getDate()===count &&
                                now.getFullYear() === firstDay.getFullYear() &&
                                now.getMonth() === firstDay.getMonth()) {
                                output += `<li class="today" data-date="${count}"
                                                     data-year="${firstDay.getFullYear()}"
                                                     data-month="${firstDay.getMonth()+1}"
                                                     data-picked =
                                                     "${firstDay.getFullYear()}-${firstDay.getMonth()+1}-${count}"
                                   ><span>${count}</span></li>`
                            } else {
                                output += `<li
                                         data-date="${count}"
                                         data-year="${firstDay.getFullYear()}"
                                         data-month="${firstDay.getMonth()+1}"
                                         data-picked =
                                         "${firstDay.getFullYear()}-${firstDay.getMonth()+1}-${count}"
                        ><span>${count}</span></li>`
                            }

                            count++;
                        }
                    }

                    $(".calendar-box .dates ul").html(output);
                    $(".calendar-box .dates ul li").each(function(idx,item) {
                        console.log($(item).data("picked"));
                        for(let i=0;i<result.length;i++) {
                            if(result[i].pickedDate===$(item).data("picked")) {
                                console.log("같다");
                                $(item).append(`<span class="dot">${result[i].count}</span>`);
                            }
                        }
                    })

                    gsap.from(".calendar-box .dates ul li",{scale:0, ease:"back",duration:1, stagger:0.02});



        }

        makeCalendar(now.getFullYear(),now.getMonth());

        $(".calendar-box .dates ul li").on("click",function() {
            console.log("날짜 클릭");
        });

        let pickedNow = new Date();

        $(".calendar .header .next").on("click",function(){
            //자바스크립트는 월이 넘어가면 자동으로 년도 는 바뀐다.
            //console.log(new Date(now.getFullYear(),now.getMonth()+2,1));
            pickedNow = new Date(pickedNow.getFullYear(),pickedNow.getMonth()+1,pickedNow.getDate());
            makeCalendar(pickedNow.getFullYear(),pickedNow.getMonth());
        });
        $(".calendar .header .prev").on("click",function(){
            //자바스크립트는 월이 넘어가면 자동으로 년도 는 바뀐다.
            //console.log(new Date(now.getFullYear(),now.getMonth()+2,1));
            pickedNow = new Date(pickedNow.getFullYear(),pickedNow.getMonth()-1,pickedNow.getDate());
            makeCalendar(pickedNow.getFullYear(),pickedNow.getMonth());
        });

        // add 눌렀을때 데이터 전달....
        $(".btnAdd").on("click",function(){
            console.log("add click");

            $.ajax({
                url:"/todo/insert",
                method:"post",
                data:{
                    todo:$("#todoTxt").val(),
                    pickedDate:queryDate,
                    isDone:"yet"
                },
                // give me answer
                success:function(result) {
                    console.log(result);
                    $("#todoTxt").val("");
                    $("#todoTxt").focus();
                    $(".todoList li").remove();
                    $.each(result,function(idx,item){
                        $(".todoList").append(`
                            <li data-no="${item.no}" class="yet" data-picked="${item.pickedDate}"><span>${item.todo}</span><button class="btnDelete">DEL</button></li>
                        `)
                    })

                }
            })
        });




        // 처음 렌더링것만 인식한다.
        // 부모에게이벤트를 위임한다.
        $("body").on("click",".dates ul li",function() {
            console.log("click");
            queryDate = $(this).data("picked");
            $(this).addClass("picked");
            $(this).siblings().removeClass("picked");

            $.ajax({
                url:"/todo/list",
                method:"post",
                data:{
                    pickedDate:queryDate,
                },
                // give me answer
                success:function(result) {
                    console.log(result);
                    $(".todoList li").remove();
                    $.each(result,function(idx,item){
                        $(".todoList").append(`
                            <li data-no="${item.no}" class="yet" data-picked="${item.pickedDate}"><span>${item.todo}</span><button class="btnDelete">DEL</button></li>
                        `)
                    })

                }
            })

        });




        //  클릭이벤트를 하지 않아도 사람이 직접 누른것처럼 이벤트를 전파한다.
        $(".dates ul li.today").trigger("click");

        // dom
        $("body").on("click",".todoList li .btnDelete",function(e){
            // 이벤트 버블링 캡쳐링...
            console.log("click btnDelete");
            const clickedItem = $(this).parent();
            queryDate = clickedItem.data("picked");

            $.ajax({
                url:"/todo/delete",
                method:"delete",
                data:{
                    pickedDate:queryDate,
                    no:$(this).parent().data("no")

                },
                // give me answer
                success:function(result) {
                    /*console.log(result);
                    if(result.isDelete===1) {
                        clickedItem.remove();
                    }*/
                    $(".todoList li").remove();
                    $.each(result,function(idx,item){
                        $(".todoList").append(`
                            <li data-no="${item.no}"  class="yet" data-picked="${item.pickedDate}"><span>${item.todo}</span><button class="btnDelete">DEL</button></li>
                        `)
                    })
                }
            })
        });

        /*queryDate = now.getFullYear()+"-"+(now.getMonth()+1)+"-"+now.getDate();
        $.ajax({
            url:"/todo/list",
            method:"post",
            data:{
                pickedDate:queryDate,
            },
            // give me answer
            success:function(result) {
                console.log(result);
                $(".todoList li").remove();
                $.each(result,function(idx,item){
                    $(".todoList").append(`
                        <li data-no="1" class="yet"><span>${item.todo}</span><button class="btnDelete">DEL</button></li>
                    `)
                })

            }
        })*/



        /*$(".dates ul li").on("click",function(){
            console.log("click");
        });*/

    </script>
</body>
</html>