<!DOCTYPE html>
<html lang="en" layout:decorate="~{/layout/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<div layout:fragment="content">


    <section class="profile container">
        <!--유저정보 컨테이너-->

        <!--유저이미지-->
        <div class="profile-header">
            <div class="profile-left"
                 th:classappend="${#authentication.principal.loggedMember.id==memberInfo.id?'profileUpdate':''}">
                <th:block th:if="${memberInfo.profileImageUrl==null}">
                    <img src="/images/common/user.png" class="profile-image" id="userProfileImage">
                </th:block>
                <th:block th:unless="${memberInfo.profileImageUrl==null}">
                    <img th:src="@{|/upload/${memberInfo.profileImageUrl}|}" class="profile-image" id="userProfileImage">
                </th:block>
                <form id="userProfileImageForm">
                    <input type="file" name="profileImageFile"
                           id="userProfileImageInput"/>
                </form>
            </div>
            <!--유저이미지end-->

            <!--유저정보 및 사진등록 구독하기-->
            <div class="profile-right">
                <div class="name-group">
                    <h2 th:text="${memberInfo.userId}">TherePrograming</h2>
                    <div class="mt-5">
                        <a class="btn btn-outline-primary" href="/image/upload">스토리 등록</a>
                        <button class="btn btn-outline-secondary">구독하기</button>
                        <button class="btn btn-primary btn-modal"><i class="bi bi-person-fill-gear"></i></button>
                    </div>
                </div>

                <div class="subscribe mt-2">
                    <ul>
                        <li><a href=""> 게시물<span>3</span></a></li>
                        <li><a href="javascript:subscribeInfoModalOpen();"> 구독정보<span>2</span></a></li>
                    </ul>
                </div>
                <div class="state mt-2 pt-2">
                    <div th:text="${memberInfo.description}">자기 소개입니다.</div>
                </div>
            </div>
        </div>
        <!--유저정보 및 사진등록 구독하기-->
        <div class="storyList">
            <ul>
                <th:block th:each="item:${memberInfo.imageList}">
                    <li class="img-box">
                        <a href=""> <img src="/images/home.jpg" th:src="@{|/upload/${item.postImageUrl}|}" /></a>
                        <div class="comment">
                            <a href="#" class=""> <i class="bi bi-suit-heart-fill"></i><span>0</span></a>
                        </div>
                    </li>
                </th:block>
            </ul>
        </div>

    </section>

    <!--게시물컨섹션-->
    <!-- Modal -->
    <div aria-hidden="true" aria-labelledby="staticBackdropLabel" class="modal fade modal-dialog modal-dialog-centered"
         data-bs-backdrop="static"
         data-bs-keyboard="false" id="myPageModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body d-grid">
                    <a class="btn btn-primary" th:href="@{/member/{id}/modify(id=${memberInfo.id})}">회원정보 변경</a>
                    <a class="btn btn-outline-primary mt-2" href="/auth/logout">LOG OUT</a>
                    <button class="btn btn-secondary mt-2" data-bs-dismiss="modal" type="button">CLOSE</button>
                </div>
            </div>
        </div>
    </div>

    <div aria-hidden="true" aria-labelledby="staticBackdropLabel" class="modal fade modal-dialog modal-dialog-centered"
         data-bs-backdrop="static"
         data-bs-keyboard="false" id="myProfileModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body d-grid">
                    <p>프로필 사진 바꾸기</p>
                    <button class="btn btn-outline-primary mt-2 btnProfileChange">사진 업로드</button>
                    <button class="btn btn-secondary mt-2" data-bs-dismiss="modal" type="button">CLOSE</button>
                </div>
            </div>
        </div>
    </div>
    <script th:inline="javascript">
        const myPageModal = new bootstrap.Modal("#myPageModal");
        const myProfileModal = new bootstrap.Modal("#myProfileModal");

        const pageUserId = [[${memberInfo.id}]];
        const loggedMemberId = [[${#authentication.principal.loggedMember.id}]];


        $(".btn-modal").on("click", function () {
            myPageModal.show();
        })


        $(".profileUpdate").on("click", function () {
            myProfileModal.show();
        })
        // $(".profile-left").on("click",function(){
        //     if(pageUserId!==loggedMemberId) {
        //         alert("프로필을 수정할 수 없습니다.");
        //         return false;
        //     }
        //     myProfileModal.show();
        // });

        $(".btnProfileChange").on("click", function () {
            //$("#userProfileImageInput").click();
            myProfileModal.hide();
            $("#userProfileImageInput").trigger("click");
            $("#userProfileImageInput").on("change",function (e)  {
                let f = e.target.files[0];

                if (!f.type.match("image.*")) {
                    alert("이미지를 등록해야 합니다.");
                    return;
                }

                // 서버에 이미지를 전송
                const profileImageForm = $("#userProfileImageForm")[0];
                console.log(profileImageForm);

                // FormData 객체를 이용하면 form 태그의 필드와 그 값을 나타내는 일련의 key/value 쌍을 담을 수 있다.
                const formData = new FormData(profileImageForm);
                $.ajax({
                    type: "PUT",
                    url: `/api/member/${loggedMemberId}/profileImageUrl`,
                    data: formData,
                    contentType: false, // 필수 : x-www-form-urlencoded로 파싱되는 것을 방지
                    processData: false,  // 필수: contentType을 false로 줬을 때 QueryString 자동 설정됨. 해제
                    enctype: "multipart/form-data",
                    dataType: "json",
                    success: function (response) {
                        console.log(response);
                        let reader = new FileReader();
                        reader.onload = (e) => {
                            $("#userProfileImage").attr("src", e.target.result);
                        }
                        reader.readAsDataURL(f); // 이 코드 실행시 reader.onload 실행됨.
                    }
                });
            });
        })
    </script>
</div>
</html>
