<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="container" th:fragment="headerFragment">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <img src="/images/alien.png" />
        </a>
        <ul class="nav nav-pills">
            <li class="nav-item"><a href="/" class="nav-link" aria-current="page">Home</a></li>
            <li class="nav-item"><a href="/board/list.html" th:href="@{/board/list}" class="nav-link">board</a></li>
            <li class="nav-item"><a href="/board/list.html" th:href="@{/board/insert}" class="nav-link">write</a></li>
            <li class="nav-item"><a href="/board/list.html" th:href="@{/member/join}" class="nav-link">join</a></li>
            <li class="nav-item"><a href="/board/list.html" th:href="@{/member/list}" class="nav-link">memberlist</a></li>
        </ul>
    </header>
</div>
</html>