<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout}">
<div layout:fragment="content" class="main">
    <div class="container">
        <h2>LOGIN</h2>
        <form method="post" action="/member/delete" >
            <div class="mb-3" sec:authorize="isAuthenticated()">
                <label for="userId" class="form-label">userId</label>
                <input type="text" class="form-control" placeholder="id" id="userId"
                       name="userId" th:value="${#authentication.principal.loggedMember.userId}" readonly>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">password</label>
                <input type="password" class="form-control" placeholder="password" id="password"
                       name="password">
            </div>
            <div th:if="${error}">
                <p class="alert alert-danger" th:text="${exception}">아이디 패스워드 확인해 주세요.</p>
            </div>
            <div class="mt-5">
                <button class="btn btn-primary" id="btnSubmit">submit</button>
                <button class="btn btn-primary" id="btnDelete">ajax delete</button>
            </div>
        </form>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
    <script>

        $("#btnDelete").on("click",function(e){
            //e.preventDefault();
            //console.log("click");
            const sendData = $("form").serialize();
            $.ajax({
                url:"/member/delete",
                method:"delete",
                /*data: {
                    userId:$("input[name='userId']").val(),
                    password:$("input[name='password']").val(),
                    name:$("input[name='name']").val(),
                    email:$("input[name='email']").val()
                },*/
                data:sendData,
                success:function(data){
                    if(data.isState==="ok") {
                        //location.href="/";
                        gsap.to(".main .container",{y:-1000,ease:"back.in",duration:1.5});
                    } else {
                        alert("패스워드 확인해 주세요.");
                    }
                }
            });
            return false;
        })
    </script>
</div>
</html>