<!DOCTYPE html>
<html lang="en" layout:decorate="~{/layout/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<div class="main" layout:fragment="content">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2 class="mt-5 mb-5">JOIN</h2>
                <form action="" method="post" th:action="@{/member/join}">
                    <div class="mb-3">
                        <label class="form-label" for="userId">userId</label>
                        <input class="form-control" id="userId" name="userId" placeholder="title" type="text">

                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="userId">password</label>
                        <input class="form-control" id="password" name="password" placeholder="password" type="password">
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="userName">nickName</label>
                        <input class="form-control" id="userName" name="nickName" placeholder="name" type="text">

                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="email">email</label>
                        <input class="form-control" id="email" name="email" placeholder="email" type="text">

                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="age">age</label>
                        <input class="form-control" id="age" name="age" placeholder="age" type="text">
                    </div>
                    <div class="d-flex justify-content-center mt-5">
                        <button class="btn btn-primary" id="btnJoinConfirm">confirm</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
</html>